scikit-optimize>=0.7.4
pandas>=1.1.0,<1.3.0; python_version < '3.8'
pandas>=1.3.0; python_version >='3.9'
statsmodels>=0.12.0
dataclasses==0.7; python_version < '3.7'
ete3>=3.1.*
numpy>=1.19.*
pytest>=6.2.*
anytree>=2.8.*
typing>=3.7.*
scikit_learn>=1.0.0; python_version >= '3.7'
matplotlib==3.0.2; python_version < '3.8'
matplotlib>=3.3.1; python_version >= '3.8'
networkx>=2.4
xgboost>=1.3.0
Pillow>=8.2.*
imageio>=2.8,<=2.10
seaborn>=0.9.*
hyperopt==0.2.5
joblib>=0.17.*
tensorflow>=2.2.0,<2.5.0; python_version <= '3.7'
tensorflow==2.5.3; python_version >= '3.8'
nltk>=3.5
SALib>=1.3.*
deap>=1.3.*
lightgbm>=2.3.*
catboost>=0.25.*
testfixtures>=6.18.*
torch>=1.9.0
gensim>=4.1.2
tqdm
requests>=2.*