scipy<1.13.0

# Base framework
thegolem @ git+https://github.com/aimclub/GOLEM.git@45215bf#egg=thegolem

# Data
numpy>=1.16.0, !=1.24.0
pandas>=1.3.0; python_version >='3.8'
dask-ml>=2024.4.4; python_version >= '3.10'
dask-ml>=2023.5.0; python_version < '3.10'
numba>=0.60.0; python_version >= '3.10'
numba>=0.58.0; python_version < '3.10'

# Models and frameworks
anytree>=2.8.0
catboost>=0.25.0
lightgbm>=3.0.0
xgboost>=1.4.0 # to prevent warnings
statsmodels>=0.12.0
ete3>=3.1.0
networkx>=2.4, !=2.7.*, !=2.8.1, !=2.8.2, !=2.8.3
scikit_learn>=1.0.0; python_version >= '3.8'
sktime==0.16.1; python_version < '3.10'
sktime>=0.16.1; python_version >= '3.10'

# Analysis and optimizations
hyperopt==0.2.7
SALib>=1.3.0
scikit-optimize>=0.7.4

# Plotting
matplotlib>=3.3.1; python_version >= '3.8'
pyvis==0.2.1
seaborn>=0.9.0

# Misc
func_timeout==4.3.5
joblib>=0.17.0
requests>=2.0
typing>=3.7.0
psutil>=5.9.2

# Tests
pytest>=6.2.0
testfixtures>=6.18.0